@media (max-width: 768px) {
     

      .sidebar {
    width: 60px;
    padding: 1rem 0.5rem;
  }

  .btn-label {
    display: none;
  }

  .nav-btn {
    justify-content: center;
  }

  .content {
    margin-left: 60px !important;
  }

  .sidebar-title {
    display: none;
  }
    }
